*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    width: 900px;
    height: 600px;
    border: 8px solid rgb(123, 123, 123);
    position: relative;
    overflow: hidden; 

}
.photo {
    width: 100%;
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/3303318.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
}

@keyframes photo {
    0% {
        scale: 1;
    }
    100%{
        scale: 1.45;
    }
}

.container:hover> .photo{
    animation: photo 3s ease 0.5s infinite alternate;

}

.details {
    width: 40%;
    height: 100%;
    top: 0px;
    right: -360px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out 0.5s;
    cursor: pointer;
    color: #ee5d02;
    font-size: 27px;
    font-weight: 900;
    text-align: justify;
}

@keyframes detail {
    0% {
        right: 0%;
    }
    100%{
        right: 60%;
    }
}

.container:hover> .details{

    animation: detail 3s ease 0.5s infinite alternate;

}

.line {
    width: 0%;
    height: 3px;
    background-color: crimson;
    position: absolute;
    bottom: 0px;
}

@keyframes line {
    0% {
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.container:hover> .line{

    animation: line 3s ease 0.5s infinite alternate;
}

